/* General Styling */
h4,
h5 {
	font-weight: 700;
	letter-spacing: 0.05em;
}

.date {
	font-style: italic;
}

/* Profile Section */
.profile-container {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.me-icon-container {
	width: 200px;
	height: auto;
	object-fit: contain;
	text-align: center;
}

.me-icon {
	height: 75%;
	width: 75%;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

.me-icon img {
	height: 100%;
	border-radius: 50%;
}

.terminal-container {
	max-width: 700px;
	width: 100%;
	margin-top: 25px;
}

.terminal-header {
	padding: 5px 20px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	border-radius: 10px 10px 0 0;
	background-color: #7eb77f;
}

#terminal-title {
	font-weight: 700;
	color: #1d263b;
	letter-spacing: 0.1em;
}

.right-side-buttons i {
	color: #1d263b;
}

.right-side-buttons i:not(:last-child) {
	margin-right: 10px;
}

.terminal-window {
	padding: 20px;
	border-radius: 0 0 10px 10px;
	text-align: left;
	border: 1px solid #7eb77f;
}

.terminal-window div,
.terminal-window div p {
	font-family: "Fira Code", monospace;
	letter-spacing: 0.02em;
}

.terminal-window div:not(:last-child) {
	margin-bottom: 20px;
}

.terminal-window div p {
	margin-bottom: 0.25em;
}

.input::before {
	content: ">\A0";
	color: #7eb77f;
	font-weight: 700;
}

.bottom span {
	content: "\A0";
	border-right: 12px solid;
	animation: blink 1s steps(1) infinite;
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* Education & Experience Section */
.education-experience-container h3 {
	margin-bottom: 50px;
}

#experience {
	margin-top: 50px;
	color: #fdca40;
}

.education-experience-card {
	margin-top: 25px;
}

.card-info p {
	margin-top: 0.35em;
	margin-bottom: 0.35em; /* Added this line to adjust spacing after CGPA */
}

.card-info p a:hover {
	color: #fdca40;
}

.card-description {
	margin: 15px 0 0 15px;
}

.card-description p:not(:first-child) {
	margin-top: 0.35em;
}

.card-description p::before {
	content: ">\A0";
	color: #fdca40;
	font-weight: 700;
}

.card-description h5:not(:first-child) {
	margin-top: 10px;
}

/* Tech Stack Section */
.tech-stack-container {
	margin: 50px auto 0 auto;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#h3-color {
	color: #fdca40;
}

.skill {
	border-radius: 12px;
	margin: 10px;
	border: 2px solid #7eb77f;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	text-align: center;
}

.skill span {
	margin-left: 10px;
}

/* Social Media Section */
.social-media-list {
	margin: 50px auto 0 auto;
	width: fit-content;
	width: -moz-fit-content;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.social-media-item {
	display: flex;
	text-align: center;
	align-items: center;
	padding: 5px 0;
	color: #fdca40;
}

.social-media-item:hover {
	color: blue;
	/* color: #fdca40; */
}

.social-media-item i {
	margin-right: 15px;
	font-size: 1.5em;
}

.social-media-item:not(:last-child) {
	margin-bottom: 10px;
}

.exp-window {
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	border: 1px solid #7eb77f;
	margin-bottom: 20px; /* Add margin-bottom to create space between blocks */
}

#experience-spacing {
	margin-bottom: 20px;
	text-align: justify;
	text-justify: inter-word;
}

#edu-spacing {
	margin-bottom: 15px;
	margin-top: 15px;
}

#just-text {
	text-align: justify;
	text-justify: inter-word;
}

#h3-border {
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #7eb77f;
}

#hr-color {
	border: 0.5px solid #7eb77f;
}

#h3-color {
	color: #fdca40;
	font-size: 19px;
}

#exp-heading {
	color: #fdca40;
}

#experience-spacing,
#just-text {
	color: white;
}

.details {
	max-height: 0; /* Initially hidden */
	overflow: hidden; /* Hide overflow content */
	transition: max-height 0.3s ease; /* Smooth transition */
}

.details.open {
	max-height: 1000px; /* Adjust as necessary for the content */
}

/* Media Queries */
@media only screen and (min-width: 768px) {
	#education-experience {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.education-experience-container {
		width: 48%;
	}
	#experience {
		margin-top: 0;
	}
	.section-description {
		margin: 50px 10% 0 10%;
	}
}

.emoji-container {
	position: relative;
}

.emoji {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1cm;
	font-size: 1.5em; /* Adjust the font size as needed */
}

@media only screen and (min-width: 1100px) {
	.profile-container {
		margin: 50px auto 0 auto;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 70%;
	}
	.terminal-container {
		flex-grow: 1;
		margin: 0;
	}
	.me-icon-container {
		width: 300px;
		height: auto;
	}
	.education-experience-card {
		display: flex;
		justify-content: space-between;
	}
	.card-info {
		width: 40%;
	}
	.card-description {
		/* width: 60%; */
		margin-top: 0;
	}
	.section-description {
		margin: 50px auto 0 auto;
	}
}

/* ----------- */
.company-tile {
	position: relative;
	cursor: pointer;
	padding-right: 20px; /* Ensure there's space for the arrow */
}

.arrow {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px; /* Adjust the size as needed */
}

.details.closed + .arrow {
	display: inline; /* Show the arrow when details are closed */
}

.details.open + .arrow {
	display: none; /* Hide the arrow when details are open */
}

/* Header Section */
header {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	height: 70px;
	padding: 0 15px;
	z-index: 2;
	background-color: #1d263b;
}

.header-logo {
	padding: 10px;
	font-size: 1.4em;
	letter-spacing: 0.05em;
	color: #fdca40;
	font-weight: bold;
}

.nav-menu {
	list-style-type: none;
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	height: 0; /* Set height to 0 initially to hide content */
	overflow: hidden; /* Hide overflow content */
	width: 100%; /* Set width to 100% to span the entire viewport */
	transition: height 0.3s ease; /* Transition on height for smooth animation */
	left: 0; /* Start the menu from the leftmost edge of the screen */
}

.nav-menu.active {
	height: auto; /* Set height to auto to reveal the content */
}

.nav-item {
	text-align: center;
	display: none;
}

.nav-item a {
	display: block;
	padding: 20px;
	font-weight: 700;
	width: 100vw;
	letter-spacing: 0.1em;
	transition: all 0.2s ease;
	color: #1d263b;
}

.nav-item a:hover,
.nav-item a:focus {
	color: blue;
	text-decoration: underline;
}

.active {
	background-color: white;
}

.active .nav-item {
	display: block;
}

.toggle {
	padding: 1.1em;
}

.toggle i {
	font-size: 2em;
}

@media only screen and (min-width: 768px) {
	.nav {
		display: flex;
		text-align: center;
		justify-content: space-between;
		align-items: center;
	}
	.nav-menu {
		position: relative;
		align-items: center;
		flex-direction: row;
		background-color: #1d263b;
		height: fit-content;
		height: -moz-fit-content;
	}
	.nav-item {
		position: relative;
		display: block;
		width: fit-content;
		width: -moz-fit-content;
		margin: 0;
	}
	.nav-item a {
		width: fit-content;
		width: -moz-fit-content;
		/* color: #ffffff; */
		color: #fdca40;
	}
	.toggle {
		display: none;
	}
}
/* Adjustments for smooth transition */
.details {
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease; /* Transition on height for smooth animation */
}

.details.open {
	height: auto; /* Set height to auto to reveal the content */
}
